# Dependencies
node_modules
**/node_modules

# Environment
.env*
!.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log

# Build outputs
dist
build
**/dist
**/build

# Development
*.test.ts
*.spec.ts
README.md 